<template>
  <Commits />
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Commits from "@/components/Commits.vue";

@Options({
  components: {
    Commits,
  },
})
export default class About extends Vue {}
</script>
