<template>
  <Repositories />
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Repositories from "@/components/Repositories.vue";

@Options({
  components: {
    Repositories,
  },
})
export default class Home extends Vue {}
</script>
