<template>
  <div>
    <div class="nav-container">
      <router-link :to="{ name: 'Home' }">nasa</router-link>
      <span>/</span>
      <span>{{ $route.params.repositoryName }}</span>
    </div>

    <List
      :items="commits"
      :title="`Latest Commits (${commits.length})`"
      :loading="loading"
      :loadingMessage="`Loading commits...`"
      :emptyMessage="`No commits are available`"
      :errorMessage="error"
    >
      <li v-for="commit in commits" v-bind:key="commit.sha">
        <CommitListItem
          :sha="commit.sha"
          :message="commit.message"
          :committer="commit.committer"
          :date="commit.date"
          :committerAvatar="commit.committerAvatar"
        />
      </li>
    </List>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useRoute } from "vue-router";
import List from "@/components/List.vue";
import CommitListItem from "@/components/CommitListItem.vue";
import api from "@/modules/api";
import { ICommit } from "@/modules/types";

export default defineComponent({
  components: {
    List,
    CommitListItem,
  },
  data() {
    return {
      loading: true,
      error: "",
      commits: [] as ICommit[],
    };
  },
  setup() {
    useRoute();
  },
  created() {
    this.fetchCommits(this.$route.params.repositoryName as string);
  },
  methods: {
    mapCommits(commits: any): ICommit[] {
      return commits.map((commit: any) => ({
        sha: commit.sha,
        message: this.formatMessage(commit.commit.message),
        committer: commit.commit.committer.name,
        date: new Date(commit.commit.committer.date),
        committerAvatar: commit.committer ? commit.committer.avatar_url : null,
      }));
    },
    async fetchCommits(name: string) {
      this.error = "";

      try {
        const res = await api.ghFetch(`repos/nasa/${name}/commits`);

        const commits = await res.json();
        this.commits = this.mapCommits(commits);
        console.log(this.commits);
      } catch (error) {
        this.error = `Error: ${error.message}`;
      } finally {
        this.loading = false;
      }
    },
    formatMessage(msg: string) {
      const newline = msg.indexOf("\n");
      return newline > 0 ? msg.slice(0, newline) : msg;
    },
  },
});
</script>

<style scoped>
li {
  border-bottom: 1px solid lightgray;
}
li:last-child {
  border-bottom: none;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 16px 0 0 16px;
}
.nav-container > a {
  font-weight: 600;
  margin-right: 4px;
}
.nav-container > span {
  margin-left: 4px;
}

@media only screen and (min-width: 960px) {
  .nav-container {
    margin: 0 auto;
    max-width: 960px;
  }
}
</style>
