<template>
  <div class="item-container">
    <section>
      <h3 class="heading">
        {{
          message.substr(
            0,
            isMessageLengthFull ? undefined : initialMessageLength
          )
        }}

        <button
          class="message-toggle"
          type="button"
          @click="toggleMessageLength"
          v-if="message.length > initialMessageLength"
        >
          Show {{ isMessageLengthFull ? "less" : "more" }}
        </button>
      </h3>

      <footer class="footer">
        <div class="meta">
          <img v-bind:src="committerAvatar" alt="" v-if="committerAvatar" />
          <span>{{ committer }} committed on {{ formatDate(date) }}</span>
        </div>
      </footer>
    </section>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { format } from "date-fns";

export default defineComponent({
  props: {
    message: String,
    committer: String,
    committerAvatar: String,
    date: Date,
  },
  data() {
    return {
      initialMessageLength: 100,
      isMessageLengthFull: false,
    };
  },
  methods: {
    toggleMessageLength() {
      this.isMessageLengthFull = !this.isMessageLengthFull;
    },
    formatDate(date: Date) {
      return format(date, "dd MMM yyyy");
    },
  },
});
</script>

<style scoped>
.item-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.heading {
  font-size: 16px;
  margin: 0;
  color: #000000;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}

.meta {
  display: flex;
  align-items: center;
  margin-top: 4px;
}
.meta > span {
  font-size: 13px;
}
.meta > img {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  border-radius: 50%;
}

button.message-toggle {
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  color: #1e7bc7;
  transition: transform ease-in-out 150ms;
}
button.message-toggle:hover {
  transform: scale(1.01);
  font-weight: 600;
}
</style>
