<template>
  <div class="container">
    <header class="header">
      <div class="spacer" />
      <div class="title">
        <span data-test="header-title">nasa</span>
      </div>
      <div class="spacer" />
    </header>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({});
</script>

<style scoped>
.container {
  padding: 16px;
  background-color: #000000;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.title {
  flex: 1;
  display: flex;
  justify-content: center;
}
.title > span {
  color: #ffffff;
  font-weight: 600;
}

.spacer {
  width: 24px;
  height: 24px;
}
</style>
