<template>
  <div class="items-container">
    <h1 data-test="list-title">{{ title }}</h1>

    <span class="loading" v-if="loading" data-test="list-loading-message">
      {{ loadingMessage }}
    </span>

    <span
      class="loading"
      v-if="!loading && !errorMessage && !items.length"
      data-test="list-empty-message"
    >
      {{ emptyMessage }}
    </span>

    <span
      class="error"
      v-if="!loading && errorMessage"
      data-test="list-error-message"
    >
      {{ errorMessage }}
    </span>

    <ul
      class="list-container"
      v-if="!loading && !errorMessage && !!items.length"
      data-test="list-wrapper"
    >
      <slot />
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    title: String,
    loading: Boolean,
    loadingMessage: String,
    emptyMessage: String,
    errorMessage: String,
    items: {
      type: null,
    },
  },
});
</script>

<style scoped>
.items-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.list-container {
  border: 1px solid lightgray;
  border-radius: 8px;
}

h1 {
  font-size: 20px;
  color: #000000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.loading {
  margin-bottom: 8px;
}

.error {
  color: red;
  margin-bottom: 8px;
}

@media only screen and (min-width: 960px) {
  .items-container {
    margin: 0 auto;
    max-width: 960px;
  }
}
</style>
