<template>
  <List
    :items="repositories"
    :title="`Public GitHub Repositories (${repositories.length})`"
    :loading="loading"
    :loadingMessage="`Loading repositories...`"
    :emptyMessage="`No repositories are available`"
    :errorMessage="error"
  >
    <li v-for="repository in repositories" v-bind:key="repository.id">
      <RepositoryListItem
        :name="repository.name"
        :description="repository.description"
        :language="repository.language"
        :updatedAt="repository.updatedAt"
        :stars="repository.stars"
      />
    </li>
  </List>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import List from "@/components/List.vue";
import RepositoryListItem from "@/components/RepositoryListItem.vue";
import api from "@/modules/api";
import { IRepository } from "@/modules/types";

export default defineComponent({
  components: {
    List,
    RepositoryListItem,
  },
  data() {
    return {
      loading: true,
      error: "",
      repositories: [] as IRepository[],
    };
  },
  created() {
    this.fetchRepositories();
  },
  methods: {
    mapRepositories(repos: any): IRepository[] {
      return repos.map((repo: any) => ({
        id: repo.id,
        name: repo.name,
        description: repo.description,
        language: repo.language,
        stars: repo.stargazers_count,
        updatedAt: new Date(repo.updated_at),
      }));
    },
    async fetchRepositories() {
      this.error = "";

      try {
        const res = await api.ghFetch("orgs/nasa/repos?type=public");

        const repositories = await res.json();
        this.repositories = this.mapRepositories(repositories);
      } catch (error) {
        this.error = `Error: ${error.message}`;
      } finally {
        this.loading = false;
      }
    },
  },
});
</script>

<style scoped>
li {
  border-bottom: 1px solid lightgray;
}
li:last-child {
  border-bottom: none;
}
</style>
