<template>
  <div class="item-container">
    <section>
      <h2 class="heading">
        <router-link :to="{ name: 'About', params: { repositoryName: name } }">
          {{ name }}
        </router-link>
      </h2>

      <p class="description">
        {{ description }}
      </p>

      <footer class="footer">
        <div class="meta" v-if="language">
          <img src="../assets/source_black_24dp.svg" alt="" />
          <span>{{ language }}</span>
        </div>

        <div class="meta">
          <img src="../assets/star_outline_black_24dp.svg" alt="" />
          <span>{{ stars }}</span>
        </div>

        <div class="meta">
          <img src="../assets/update_black_24dp.svg" alt="" />
          <span>Updated {{ formatDate(updatedAt) }} ago</span>
        </div>
      </footer>
    </section>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { formatDistanceToNow } from "date-fns";

export default defineComponent({
  props: {
    name: String,
    description: String,
    language: String,
    stars: Number,
    updatedAt: Date,
  },
  methods: {
    formatDate(date: Date) {
      return formatDistanceToNow(date);
    },
  },
});
</script>

<style scoped>
.item-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.heading {
  font-size: 18px;
  margin: 0;
}

.description {
  font-size: 14px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}

.meta {
  display: flex;
  margin-right: 12px;
}
.meta > span {
  font-size: 12px;
  margin-left: 4px;
}
.meta > img {
  height: 16px;
  width: 16px;
}
</style>
