<template>
  <Header />
  <router-view />
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Header from "@/components/Header.vue";

@Options({
  components: {
    Header,
  },
})
export default class App extends Vue {}
</script>

<style>
body {
  margin: 0;
  color: #57606a;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

button[disabled] {
  cursor: not-allowed;
}

a {
  text-decoration: none;
  color: #0969da;
}
a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
</style>
